@font-face {
  font-family: "Open Runde";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/OpenRunde-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Open Runde";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("/fonts/OpenRunde-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "Open Runde";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("/fonts/OpenRunde-Semibold.woff2") format("woff2");
}

@font-face {
  font-family: "Open Runde";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/OpenRunde-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "NanumSquareRound";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("/fonts/NanumSquareRoundOTFL.otf") format("opentype");
}

@font-face {
  font-family: "NanumSquareRound";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/NanumSquareRoundOTFR.otf") format("opentype");
}

@font-face {
  font-family: "NanumSquareRound";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/NanumSquareRoundOTFB.otf") format("opentype");
}

@font-face {
  font-family: "NanumSquareRound";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("/fonts/NanumSquareRoundOTFEB.otf") format("opentype");
}
